@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');


.test-floating {
  background-color: blue;
  position: fixed;
}

.test-floating-img{
  font-size: 48px;
  color: red;
}

.test-floating-text {
  color: green;
  font-weight: 700
}

.test-floating-text.disabled{
  display: none
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  background-image: url("");
  background-color: #262626;
  margin-top: 10px;
  font-family: 'Avenir', sans-serif; 
  color: #999999;

}




h2 {
  color: #ffffff;
  text-align: center;
}




form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10%;
  background: rgb(239, 239, 239);
  padding: 20px 20px;
  color: rgb(158, 158, 158);
  align-items: center;
  justify-content: center;

  

}



.container {
  margin: 20px;
  display: flex;
  align-items: flex-start;
}

.left {
  float: left;
  width: 50%;
  padding-bottom: 20px; */
}

.right {
  float: right;
  width: 50%;
  padding-bottom: 20px; */
}

.bottom {
  border:#73AD21;
  position: fixed;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  
}



iframe.center {
    margin: 0;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.center {
  position: relative;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #73AD21;
  text-align: center;
}

input[type="text"],
input[type="message"],
input[type="email"] {
  width: 100%;
  line-height: 60px;
  margin: 10px;
  border-radius: 48px;
  padding-left: 50px;
  padding-right: 15px;
    border:0 none !important;
    outline:0 !important;
}

textarea {
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 4px;

}

img {
  padding: 10 px;
  width: 200px;
  height: 300px;
  object-fit: cover;

}

button {
width: 100px;
color: #FFF;
background: rgb(103, 103, 115);
border: none;
margin: 10px 10px;
line-height: 30px;
border-radius: 4px;
}



btnsymbol {
  color: rgb(73, 73, 73);
  background: none;
  border: none;
  width: 30%;
  margin: auto;
  line-height: 30px;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .container { 
    flex-direction: column; 
  }
}

a {
  color: #ffffff;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.bubbleContainer {
  height: auto;
  width: auto;
  margin: 100px;
  background-color: rgb(67, 67, 67);
  position: relative;
}

.LightGroup{
  
  background: radial-gradient(#f1f4b9, #000000);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position:absolute;
  transition: all 3s linear;
  background-color:rgb(198, 198, 198);
  transform : translate(50px, 50px);
}

.fly {
  height: 50px;
  width: 50px;
  margin: 10px 5px 0 0;
}

